<div class="mx-700">
  <div>
    <h2 class="heading heading--xs block t-center" >Edit Comment</h2>  
  </div>

  <%= render 'tweets/form', tweet: nil, comment: [@tweet, @comment], submit_text: 'Edit', action_method: 'edit' %>
</div>
