<div>
  <h2 class="heading heading--xs block t-center" >Edit Tweet</h2>  
</div>
<div class="tweet tweet--form mt-16" >
  <%= form_with model: [@tweet, @comment] do |form| %>
    <div class="input" >
      <div class="input__label" >
        <%= form.label :body %>
      </div>
      <%= form.text_area :body, placeholder: 'Remember to thing before write...', class: 'input--text-area input--form' %>
    </div>
    <%= form.submit "Edit", class: 'btn tweet--form-btn' %>
  <% end %>
</div>