<div class="mx-700">
  <div class="mb-16" >
    <h2 class="heading heading--xs block t-center" >Edit Tweet</h2> 
  </div>

  <%= render 'form', tweet: @tweet, submit_text: 'Edit', action_method: 'edit' %>
</div>
