<div>
  <h2 class="heading heading--xs block t-center" >Home</h2>
</div>

<%= render 'form', tweet: @tweet, submit_text: 'Tweet', action_method: 'new' %>

<div>
  <% @tweets.each do |tweet| %>
    <%= render 'card', model_entity: tweet, card_name: 'tweet' %>
  <% end %>
</div>
