<div>
  <h2 class="heading heading--xs block t-center" >Tuit Detail</h2>
</div>

<%= render 'card', model_entity: @tweet, card_name: 'tweet' %>

<div class="mt-16">
  <%= render 'form', tweet: nil, comment: [@tweet, @comment], submit_text: 'comment', action_method: 'new' %>
  <div>
    <% @tweet.comments.each do |comment| %>
      <%= render 'card', model_entity: comment, card_name: 'comment' %>
    <% end %>
  </div>
</div>