.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  gap: 8px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  padding: 14px;
  background-color: var(--primary);
  border: none;
  border-radius: 100px;
  box-shadow: var(--shadow-s);
  color: white;
  font-weight: 700;
  transform: scale(0.99);
  transition: 500ms;
}
.btn:hover {
  cursor: pointer;
  transition: 500ms;
  transform: scale(1);
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 2px white, 0 0 0 4px var(--primary),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn:disabled,
.btn:disabled:hover {
  opacity: 0.6;
  cursor: not-allowed;
}
.btn--cancel-account {
  border: none;
  margin: auto;
  display: block;
  margin-top: 16px;
  background: transparent;
  cursor: pointer;
  color: var(--primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.btn--social-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.btn--social {
  padding: 8px 16px;
  width: 100%;
  font-size: 14px;
  color: white;
  border-radius: 50px;
  line-height: 24px;
  text-align: center;
  font-weight: 700;
}
.btn--social.github {
  background-color: #22272e;
}
.btn--social.google_oauth2 {
  background-color: #f86f6f;
}
.btn--social.facebook {
  border: 1px solid #0e8ef1;
  color: #0e8ef1;
}
