.tweet.tweet--form {
  position: relative;
}

.tweet.tweet--form .tweet--form-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.tweet--card {
  border: 1px solid var(--secondary-200);
  display: grid;
  grid-template-columns: 72px auto;
  padding: 8px 10px;
}

.tweet--card-avatar {
  border-radius: 50%;
  margin: auto;
}

.tweet--card-detail {
}

.card__detail-information {
  display: flex;
  gap: 8px;
}
.card__detail-information .detail__information-name {
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary-500);
  font-weight: bold;
  text-transform: capitalize;
}

.card__detail-information .detail__information-username {
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary-400);
}

.detail__description {
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.detail__actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail__actions,
.detail__actions--left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail__actions span {
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-400);
}

.detail__actions--left {
  justify-content: flex-end;
}
