@import url("./global.css");
@import url("./components/input.css");
@import url("./components/button.css");
@import url("./components/tweet.css");
@import url("./components/popup.css");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 16px;
}
