<% if notice || alert %>
  <div class="popup__container <%= notice ? 'success' : 'error' %>" >
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>        
<% end %>
